.list-wrapper{
    margin-bottom: 6rem
}
.advert-wrapper,
.new-advert-wrapper{
    max-width: 800px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.new-advert-wrapper{
    button{
        margin-top: 2rem;
    }
}

