.list-wrapper {
    margin-bottom: 6rem
}

.advert-wrapper {
    max-width     : 800px;
    padding-top   : 1rem;
    padding-bottom: 2rem;
}

.new-advert-wrapper {
    padding-top   : 1rem;
    padding-bottom: 2rem;

    button {
        margin-top: 2rem;
    }
}